<a href="https://colab.research.google.com/github/santhosh1728/Activation-functions/blob/main/Untitled10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
n = int(input("enter a number:"))
fact =1
for i in range(1,n+1):
  F = fact*i
print(F)

In [ ]:
n = int(input("enter a number: "))
fact =1
for i in range(1,n+1):
  fact = fact*i
print(fact)

enter a number: 5
120

In [ ]:
n = int(input('enter a number:'))
for i in range(1,n+1):
  if n%i == 0 :
    print(i)

enter a number:10
1
2
5
10

In [ ]:
#facor of a number

n = int(input("enter  a number:"))

for i in range(1 , n+1):
  if n % i == 0:
    print(i)

enter  a number:5
1
5

In [ ]:
n = int(input("Enter a number:"))
for i in range(1, n+1):
  if n%i ==0:

   print(i)

Enter a number:10
1
2
5
10

Fibonacci.py

In [ ]:
n = int(input("enter number of terms : "))
a = 0
b = 1

for i in range(n):
  print(a)
  c = a+b
  a = b
  b = c

enter number of terms : 10
0
1
1
2
3
5
8
13
21
34

In [ ]:
n = int(input("Enter the number of terms: "))

if n <= 0:
    print("Please enter a positive integer")
elif n == 1:
    print("Fibonacci sequence upto",n,":")
    print(n)
else:
    print("Fibonacci sequence:")
    a = 0
    b = 1
    for i in range(n):
        print(a)
        c = a + b
        a = b
        b = c

Enter the number of terms: 5
Fibonacci sequence:
0
1
1
2
3

In [ ]:
n = int(input("Enter the number of terms: "))

if n <= 0:
    print("Please enter a positive integer")
elif n == 1:
    print("Fibonacci sequence upto",n,":")
    print(n)
else:
    print("Fibonacci sequence:")
    a = 0
    b = 1
    for i in range(n):
        print(a)
        c = a + b
        a = b
        b = c

Enter the number of terms: 10
Fibonacci sequence:
0
1
1
2
3
5
8
13
21
34

In [ ]:
n = int(input("enter a number:"))
a = 0
b = 1

for i in range(n+1):
  print(a)
  c = a+b
  a = b
  b = c

enter a number:10
0
1
1
2
3
5
8
13
21
34
55

In [ ]:
n = int(input("enter a number"))
a = 0
b = 1
for i in range(n+1):
  print(a)
  c = a+b
  a=b
  b=c

enter a number7
0
1
1
2
3
5
8
13

for break continue

In [ ]:
for i in range(10,0,-1):
  print(i)

10
9
8
7
6
5
4
3
2
1

In [ ]:
n = int(input("enter a number:"))
for i in range(1,11):
  print(n,"x",i,'=',i*n)

enter a number:5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [ ]:
n = int(input("enter a num:"))
m = int(input("enter second number: "))
for i in range(1,11):
  print(n,'x',i,"=",n*i ,'\t',m,'x',i,'=' ,m*i)

enter a num:6
enter second number: 8
6 x 1 = 6 	 8 x 1 = 8
6 x 2 = 12 	 8 x 2 = 16
6 x 3 = 18 	 8 x 3 = 24
6 x 4 = 24 	 8 x 4 = 32
6 x 5 = 30 	 8 x 5 = 40
6 x 6 = 36 	 8 x 6 = 48
6 x 7 = 42 	 8 x 7 = 56
6 x 8 = 48 	 8 x 8 = 64
6 x 9 = 54 	 8 x 9 = 72
6 x 10 = 60 	 8 x 10 = 80

In [ ]:
n = int(input("enter a number:"))
i = 1
while i <=10:
  print(n,'x',i,'=',i*n)
  i = i+1

enter a number:44
44 x 1 = 44
44 x 2 = 88
44 x 3 = 132
44 x 4 = 176
44 x 5 = 220
44 x 6 = 264
44 x 7 = 308
44 x 8 = 352
44 x 9 = 396
44 x 10 = 440

polindrome

In [ ]:
#reverse a number:


n = int(input("enter a number:"))
rev = 0
while n>0:
  r = n%10
  n=n//10
  rev = rev * 10 + r

print('reverse number is:',rev)
print(n)

enter a number:1233
reverse number is: 3321
0

In [ ]:
n = int(input("enter a number:"))
m = n
rev = 0
while n > 0:
  r = n%10
  n=n //10
  rev = rev *10 +r

  if m == rev:
    print("num is a polindrome")
  else:
    print("num is not a polindrome")

enter a number:12321
num is not a polindrome
num is not a polindrome
num is not a polindrome
num is not a polindrome
num is a polindrome

nested loop

In [ ]:
s1 = 'abc'
s2 = 'xyz'
for i in s1:
  for j in s2:
    print(i,j,end=' ')
  print('')

a x a y a z
b x b y b z
c x c y c z

In [ ]:

s1='abc'
s2='xyz'

for i in s1:
    for j in s2:
        print(i, j)
    print(' ')

a x
a y
a z

b x
b y
b z

c x
c y
c z

In [ ]:
for i in range(5,0,-1):
  print("*" * i)

*****
****
***
**
*

In [ ]:
for i in range(0,5):
  for j in range(0,5):
    if i>=j:
      print('*',end= ' ')
  print(' ')

*
* *
* * *
* * * *
* * * * *

In [ ]:
for i in range(5,0,-1):
  print('*' * i)

*****
****
***
**
*

In [ ]:
for i in range (0,10):
  for j in range(0,10):
    if i>=j:
     print("🥂",end=' ')
  print('')

🥂
🥂 🥂
🥂 🥂 🥂
🥂 🥂 🥂 🥂
🥂 🥂 🥂 🥂 🥂
🥂 🥂 🥂 🥂 🥂 🥂
🥂 🥂 🥂 🥂 🥂 🥂 🥂
🥂 🥂 🥂 🥂 🥂 🥂 🥂 🥂
🥂 🥂 🥂 🥂 🥂 🥂 🥂 🥂 🥂
🥂 🥂 🥂 🥂 🥂 🥂 🥂 🥂 🥂 🥂

In [ ]:
for i in range(0,10):
  for j in range(0,10):
    if i<=j:
      print("ajay" , end =' ')
  print('')

ajay ajay ajay ajay ajay ajay ajay ajay ajay ajay
ajay ajay ajay ajay ajay ajay ajay ajay ajay
ajay ajay ajay ajay ajay ajay ajay ajay
ajay ajay ajay ajay ajay ajay ajay
ajay ajay ajay ajay ajay ajay
ajay ajay ajay ajay ajay
ajay ajay ajay ajay
ajay ajay ajay
ajay ajay
ajay

In [ ]:
n = int(input("enter a number:"))
count = 0
for i in range(1,n+1):
  if n%i==0:
    count +=1
if count == 2 :
  print("it's a prime number...!")
else:
  print("it's not a prime number...")

enter a number:45
it's not a prime number...

countdigits

In [ ]:
n = int(input("enter a number:"))
counter = 0
while n>0:
  n = n // 10
  counter +=1
print("number of digits are:", counter)

enter a number:111123
number of digits are: 6

In [ ]:
# n = input("enter something: ")
# counter = 0
# while n > 0:
#   n = n // 10
#   counter +=1
# print("number of digits:",counter)

In [ ]:
n = int(input("enter a number:"))
while n>10:
  r = n %10
  n = n // 10
  print(r)

enter a number:102
2

In [ ]:
import random
n = random.randint(1,5)
guess = 0
while guess !=n:
  guess = int(input("guess a number:"))

  if guess < n:
    print('smaller..')
  elif guess >n:
    print('greater...')
  else:
    print('correct')

guess a number:2
greater...
guess a number:3
greater...
guess a number:5
greater...
guess a number:1
correct

guess a number

In [ ]:
import random
n = random.randint(1,10)
guess = 0
while guess !=n:
  guess = int(input("guess a number:"))

  if guess < n:
    print('it is smaller..')
  elif guess > n:
    print('is is larger...')
  else:
    print('correct guess...!')

guess a number:1
it is smaller..
guess a number:4
it is smaller..
guess a number:4
it is smaller..
guess a number:2
it is smaller..
guess a number:3
it is smaller..
guess a number:2
it is smaller..
guess a number:5
it is smaller..
guess a number:4
it is smaller..
guess a number:6
it is smaller..
guess a number:7
correct guess...!

max.number

In [ ]:
n = int(input("enter a number:"))
count = 0
max = int(input("enter a number;"))
while count < n -1:
  if n>max:
    max = n
  count = count +1
print('max is :',max)

enter a number:4125
enter a number;1346
max is : 4125

NameError: ignored